.logo-zone {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hex {
  display: flex;
  position: relative;
  width: 40vw;
  max-width: 445px;
  max-height: 500px;
  aspect-ratio: 1 / 1.1; // maintains hexagon proportions
  background: #ffd700;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
  position: relative;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background: #fff;
  clip-path: inherit;
}

.hex-background img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inherit;
  transition: transform 0.3s;
}

.hex-background img:hover {
  transform: scale(1.05);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .hex {
    width: 70vw;
    right: 0;
    left: 0;
  }
}
