.nav-bar {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1;
  z-index: 100;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  img {
    width: 40px;
    height: auto;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    font-size: 22px;
    color: #4d4d4e;
    line-height: 51px;
    display: block;
    height: 51px;
    position: relative;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: #ffd700;

      svg {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      font-size: 9px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      opacity: 0;
      transition: all 0.3s ease-out;
      white-space: nowrap;
    }
    &:first-child {
      &::after {
        content: 'HOME';
      }
    }

    &:nth-child(2) {
      &::after {
        content: 'ABOUT';
      }
    }
    &:last-child {
      &::after {
        content: 'CONTACT';
      }
    }
  }
  a.active {
    svg {
      color: #ffd700;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  li a {
    color: #4d4d4e;
    font-size: 15px;

    &:hover svg {
      color: #ffd700;
    }
  }
}

// Mobile styles
@media (max-width: 768px) {
  .nav-bar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    padding: 0 10px;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    img {
      width: 30px;
    }
  }

  nav {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    flex: 1;

    a {
      margin-right: 10px; /* horizontal spacing */

      &:last-child {
        margin-right: 0; /* no extra space after last link */
      }
    }
  }

  ul {
    flex-direction: row;
    margin-right: 20px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}
